body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
#header-div{
    padding: 15%;
    background-image: url(images/donation7.jpg);
    backdrop-filter: calc(5px);
    height: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header{
    font-size: 50px;
    text-align: center;
    color: yellow;
    padding: 20px;
    margin: 0;
}
.detail{
    text-align: center;
    color: white;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(253, 182, 50),rgba(231, 4, 4, 0.846));
    margin-left: 50%;
    padding:10px 25px;
    margin-top: 5%;
    border-radius: 7px;
}
.button-align{
    text-align: center;
    font-weight: 900;
    color: white;
}
.all-header{
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}
.all-detail{
    font-size: 30px;
    text-align: center;
}
.money{
    display: flex;
    text-align: center;
}
.money-border{
    margin-left: 12%;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.293);
    color: black;
    font-size: 25px;
    border-radius: 5%;
}
#money-select{
    background-color: rgb(197, 175, 7);
}
.input{
    border: none;
    text-align: center;
    margin-left: 42%;
    font-size: 30px;
}
hr{
    width: 50%;
    margin-bottom: 70px;
}
.donate-plan{
    display: flex;
}
.donate-plan-left{
    margin-left: 250px;
    padding: 5%;
    background-color: antiquewhite;
    border-radius: 5%;
}
.donate-plan-right{
    margin-right: 250px;
    padding: 5%;
    background-color: aqua;
    border-radius: 5%;

}
.donate-plan-middle{
    border-radius:15%;
    padding: 5%;
    background-color:cornflowerblue;
    border-left: 30px solid white;
    border-right: 30px solid white;
}
.half-width{
    width: 50%;
    padding: 3%;
    background-color:bisque;
    margin-right: 5%;
    border-radius: 5%;
}
.half-width-image{
    padding: 0px 150px 30px 0px;
}
.donate-plan-last{
    display: flex;
    margin-left: 15%;
    margin-top: 8%;
    margin-left: 25%;
    margin-bottom: 5%;
}
.donate-plan-image{
    max-width: 50%;
    border-radius: 5%;
}
.link-button-contribute{
    text-decoration: none;
    background-image:linear-gradient(rgb(253, 182, 50),rgba(231, 4, 4, 0.846));
    padding: 3%;
    border-radius: 15%;
    margin-left: 25%;
    text-align: center;
}
#mail{
    height: 40px;
    border: none;
    margin-left: 30%;
}
.input-section{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background-color: gray;
    margin-bottom: 7%;
}
.button{
    background-color: red;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 20px;
}
#footer{
    text-align: center;
    background-color: rgba(113, 4, 4, 0.656);
    padding-bottom: 50px;
    padding-top: 50px;
}
.font-style{
    font-family: Cursive , Fantasy;
}